<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{{ mode }}/api/static/favicon.ico">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ mode }}/api/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ mode }}/api/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ mode }}/api/static/favicon-16x16.png" />
    <link rel="mask-icon" href="{{ mode }}/api/static/safari-pinned-tab.svg" color="#0C3183" />
    <meta name="msapplication-TileColor" content="#0C3183" />
    <meta name="theme-color" content="#0C3183" />

    <title>SESLR Data API</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/swagger-ui-dist@3.18.1/swagger-ui.css"
    />
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="https://unpkg.com/swagger-ui-dist@3.22.0/swagger-ui-standalone-preset.js"></script>
    <script src="https://unpkg.com/swagger-ui-dist@3.22.0/swagger-ui-bundle.js"></script>

    <script>
      window.onload = function() {
        const ui = SwaggerUIBundle({
          url: '{{ mode }}/api/static/swagger.json',
          dom_id: '#swagger-ui',
          deepLinking: true,
          presets: [SwaggerUIBundle.presets.apis],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl]
        });
        window.ui = ui;
      };
    </script>
  </body>
</html>
