<!DOCTYPE html>
<html lang="en">

<head>
    <title>viewer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="./node_modules/cesium/Build/Cesium/Cesium.js"></script>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/lodash/lodash.min.js"></script>
    <script src="./node_modules/liquor-tree/dist/liquor-tree.umd.js"></script>
    <script src="./node_modules/chroma-js/chroma.js"></script>

    <link rel="stylesheet" href="./css/CesiumViewer.css">
</head>

<body>
    <div id="cesiumContainer"></div>

    <div id="layerSelector">
        <input type="text" placeholder="Type to filter.." v-model="treeFilter" class="filter-field">
        <tree :data="treeData" :filter="treeFilter" :options="treeOptions" @node:checked="onNodeChecked" @node:unchecked="onNodeUnchecked"></tree>
    </div>

    <div id="legend" style="position: absolute; bottom: 40px; left: 15px;">
        <div v-if="showLegend">
            <ul style="list-style-type: none; columns: 4; -webkit-columns: 4; -moz-columns: 4; color: white; background-color: #2c3e50; margin-left: -4px; padding: 8px; border: solid 1px black; font-size: 10pt;">
                <li v-for="item in items">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" :style="item.color">
                        <circle cx="6" cy="6" r="4" />
                    </svg>
                    <span>{{ item.name }}</span>
                </li>
            </ul>
            <button @click="showLegend = false" style="position: absolute; top: 16px; right: 4px;">
                <svg height="12" width="12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve">
                    <polygon fill="white" points="96,14 82,0 48,34 14,0 0,14 34,48 0,82 14,96 48,62 82,96 96,82 62,48 " />
                </svg>
            </button>
        </div>
        <button v-else class="button" @click="showLegend = true" style="color: white; background-color: #2c3e50; border: solid 1px black; padding: 3px; font-size: 10pt;">Show
            Legend
        </button>
    </div>

    <script src="./js/CesiumViewer.js"></script>
</body>

</html>