header {
    padding: 1rem 1rem 0rem 1rem;
}

.title {
    padding-bottom: 30px;
}

.tabs {
    display: flex;
}
.tabs a {
    text-decoration: none;
}
.tabs a:link {
    color: antiquewhite;
}
.tabs a:visited {
    color: antiquewhite;
}

#header-tabs {
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: cornflowerblue;
}

.tab {
    display: inline-flex;
    background-color: cornflowerblue;
    padding: 0.6rem;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}
.tab:hover {
    background-color: rgb(100, 100, 100);
}

@media screen and (max-width: 575px) {
    #header-tabs {
        border-bottom-width: unset;
        border-bottom-style: unset;
        border-color: unset;
    }
    .tab-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.8rem;
        padding-bottom: unset;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-color: cornflowerblue;
        width: 100%;
    }
}
