.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    padding: 1rem;
}

.card-image {
    width: 18rem;
    height: 12rem;
    border-radius: 6px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}

.card-label {
    position: absolute;
    bottom: 28px;
    left: 28px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.card-label img {
    margin-left: 0.3rem;
    width: 1rem;
    transform: translateY(2px);
}

@media screen and (max-width: 500px) {
    .card-image {
        width: 90%;
        height: auto;
    }
}